body {
  background: whitesmoke;
}
#content {
  margin-top: 7rem;
  margin-bottom: 4rem;
}

#my-card {
  padding: 2rem;
  background-color: white;
}

#text {
  font-size: 1.3rem;
  color: black;
  margin-left: 1rem;
}

#inside {
  font-size: 1rem;
  color: rgb(173, 168, 168);
  text-align: center;
}
i {
  font-size: 1.3rem;
}
.footer {
  
}
#foot {
  display: flex;
  justify-content: space-between;
}
#text-1 {
  margin-left: 1rem;
  margin-top: 1.4rem;
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
}
#naira {
  color: green;
}
li {
  color: black;
}
.card {
  border: none;
}
input {
  border: none;
}